﻿<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SalesPromotion</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Ăn Uống <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Hải Sản</a>
                </li>
                <li><a href="#">Đặc sản</a></li>
                <li><a href="#">Rượu Bia</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Mua Sắm <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Thời Trang Nữ</a></li>
                <li><a href="#">Thời Trang Nam</a></li>
                <li><a href="#">Mẹ và Bé</a></li>
                <li><a href="#">Lặt vặt</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Du lịch <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Resort</a></li>
                <li><a href="#">Hotel</a></li>
                <li><a href="#">Guest house</a></li>
                <li><a href="#">Đi phượt</a></li>
            </ul>
        </li>
    </ul>
</div>