body {
  padding-top: 50px;
  overflow-x: hidden; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px; }

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%; }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none; } }
.menu-bar-container, .advertisement-container {
  height: 150vh;
  position: fixed; }

.menu-bar-content, .advertisement-content {
  background-color: palevioletred;
  height: 150vh; }

.recent-news-container {
  background-color: yellow;
  height: 150vh; }

footer {
  background-color: aqua;
  height: 100px;
  text-align: center; }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important; }

.form-control {
  width: 100%;
  float: right !important; }

.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent; }

.image-item {
  background-color: greenyellow; }

.description {
  background-color: aquamarine; }

/*.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form*/
.header-menu {
  border: hidden;
  background-color: #052f82 !important; }

.body-container {
  background-color: antiquewhite;
  margin-left: 20px !important;
  margin-right: 30px !important;
  height: 150vh; }

hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 0 !important;
  border-top: 1px solid #c3b9be !important; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #052f82; }

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #052f82; }

.col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  padding-right: 3px !important;
  padding-left: 3px !important; }

/*# sourceMappingURL=site.css.map */
