﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="background-color:snow;" ng-app="">
    <div class="col-md-9 contents-news">
        <div class="form-search">
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Please Input Search" />
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            <hr>
        </div>

        <div class="content-table">
            @*1 row*@
            <div class="row">
                @*div 1*@
                    <div class="col-md-6" style="margin:auto; min-height: 170px;">
                        <div class="title-product"><a href="#" ><p>AB 2014 sale off 25%</p></a></div>
                        <div class="product-description"><a href="#" ><p>
                            Giờ vàng giá sốc, 
                            quay số bốc thăm trúng thưởng
                            </p></a></div>
                        <div class="product-address"><p >206D Lê Văn Sỹ, P. 10, Q. Phú Nhuận, TpHCM</p></div>
                    </div>


                @*div 2*@
                    <div class="col-md-6 product-image" >
                        <a href="#" >
                            <img src="~/images/im-test/1.PNG" />
                            <img src="~/images/im-test/2.PNG" />
                            @*<img src="~/images/im-test/3.PNG" />*@
                        </a>
                    </div>
            </div>
            @*end 1 row*@


        </div>
    </div>
    <div class="col-md-3 recent-news">
        <div class="recent-news-container">
            <p>Tin mới đăng, top views {{1 + 1}}</p>
            
        </div>
    </div>
</div>

