﻿/* ========================================= demo test content =========================================*/

.title-product {
    padding-bottom: 0px;
}

.title-product a {
    font-family: 'Lucida Fax','Times New Roman';
    font-size: larger;
    color: #FF6633;
    text-decoration: none !important;
}

.title-product a:hover {
    color: red;
    text-decoration: none;
}

.product-description a {
    font-family: 'Times New Roman', 'Candara' !important;
    font-size: small;
    color: black;
    text-decoration: none !important;
}

.product-description a :hover {
    color: #007700;
}

.product-address {
    font-family: 'Times New Roman' !important;
    font-size: smaller;
    color: #999999;
}


.product-image {
    padding-right: 5px;
}

.product-image :hover {
    box-shadow: 0px 0px 2px 2px #FF9933;
}

.image {
    max-height: 170px;
    max-width: 200px;
}

/* ========================================= .end demo test content =========================================*/
